# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/

# OS
.DS_Store
Thumbs.db

# Data (don't upload raw large files)
data/raw/*
data/processed/images/*
data/processed/text/*
data/processed/audio/*
data/users/
data/*.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Model caches
*.pt
*.bin
